.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
h1 {
    font-size: 24px;
    font-weight: 400;
    animation: slideUp 0.6s ease-in-out;
    padding-bottom: 4px;
}
@keyframes slideUp {
    0% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        transform: translateY(100%);
    }
    95% {
        transform: translateY(0%);
    }
    100% {
        clip-path: polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    }
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 16px;
}
button {
    background-color: #000;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    margin: 80px 0 40px 0;
}
.year_frame {
    display: flex;
    justify-content: right;
}
.year {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}
.month {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.text_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
h2 {
    font-weight: 500;
    font-size: 16px;
}
h3 {
    font-weight: 400;
    font-size: 18px;
}
.body1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #555;
}