@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
* {
    font-family: Pretendard, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    max-width: 960px;
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #FB9905;
}
.navi_top {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menus {
    display: flex;
    justify-content: space-between;
}
.menus > * {
    padding-left: 40px;
    font-size: 14px;
    font-weight: 400;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.copyright {
    font-size: 13px;
    font-weight: 400;
}
@media screen and (max-width: 600px) {
    .navi_top {
        height: 80px;
    }
    .footer {
        height: 80px;
    }
}