.header_container {
    height: 80px;
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    animation: slideUp 0.6s ease-in-out forwards;
    padding-bottom: 4px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
@keyframes slideUp {
    0% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        transform: translateY(100%);
    }
    95% {
        transform: translateY(0%);
    }
    100% {
        clip-path: polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    }
}
.studies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin: 80px 0 40px 0;
}
.study {
    overflow: hidden;
}
.study img {
    transform: scale(1.0);
    transition: transform 0.2s ease-out;
    display: table-row;
}
.study:hover img {
    transform: scale(1.03);
    transition: transform 0.2s ease-out;
}
h2 {
    font-weight: 500;
    font-size: 16px;
}
.body1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #555;
}
.img_frame {
    overflow: hidden;
    display: table; 
}